@import "variables";

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  // EDITED
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  // , DejaVu Sans Mono, Monaco, Consolas, Ubuntu Mono, monospace;
  font-size: 1rem;
  line-height: 1.54;
  background-color: var(--background);
  color: var(--color);
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -webkit-overflow-scrolling: touch;
  -webkit-text-size-adjust: 100%;

  @media (max-width: $phone-max-width) {
    font-size: 1rem;
  }
}

h1, h2, h3, h4, h5, h6 {
  display: flex;
  align-items: center;
  font-weight: bold;
  line-height: 1.3;
}

h1 {
  font-size: 1.4rem;
}

h2 {
  font-size: 1.3rem;
}

h3 {
  font-size: 1.2rem;
}

h4, h5, h6 {
  font-size: 1.15rem;
}


a {
  color: inherit;
}

img {
  display: block;
  max-width: 100%;

  &.left {
    margin-right: auto;
  }

  &.center {
    margin-left: auto;
    margin-right: auto;
  }

  &.right {
    margin-left: auto;
  }
}

// ADDED: I cribbed this from ChatGPT because I needed to be able to link a
// video at the entire width of the page, with an adaptive height based on the
// width of the browser. I have no idea how this works. But it does.
.responsive-iframe-container {
  position: relative;
  padding-bottom: 56.25%; /* This is for a 16:9 aspect ratio, adjust as needed */
  height: 0;
  overflow: hidden;
}
.responsive-iframe-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.coolthing {
  float: right;
  width: 50%;
}

p {
  margin-bottom: 20px;
}

figure {
  display: table;
  max-width: 100%;
  margin: 25px 0;

  &.left, img {
    margin-right: auto;
  }

  &.center, img {
    margin-left: auto;
    margin-right: auto;
  }

  &.right, img {
    margin-left: auto;
  }

  figcaption {
    font-size: 14px;
    padding: 5px 10px;
    margin-top: 5px;
    background: var(--accent);
    color: var(--background);

    &.left {
      text-align: left;
    }

    &.center {
      text-align: center;
    }

    &.right {
      text-align: right;
    }
  }
}

code {
  font-family: Hack, DejaVu Sans Mono, Monaco, Consolas, Ubuntu Mono, monospace;
  font-feature-settings: normal;
  // EDITED to prevent background of inline code
  // background: var(--accent-alpha-20);
  color: rgb(139, 119, 205);
  padding: 0px 0px;
  margin: 0 2px;
  font-size: .95rem;
  border-style:solid;
  border-color:#434343;
  border-width:1.5px;
}

pre {
  font-family: Hack, DejaVu Sans Mono, Monaco, Consolas, Ubuntu Mono, monospace;
  // EDITED from 20 to 10 px to make padding less
  padding: 10px;
  font-size: .95rem;
  overflow: auto;
  // EDITED to prevent lines below and above the code block
  // border-top: 1px solid rgba(255, 255, 255, .1);
  // border-bottom: 1px solid rgba(255, 255, 255, .1);

  @media (max-width: $phone-max-width) {
    white-space: pre-wrap;
    word-wrap: break-word;
  }

  code {
    padding: 0;
    margin: 0;
    background: none;
  }
}

blockquote {
  border-top: 1px solid var(--accent);
  border-bottom: 1px solid var(--accent);
  margin: 40px 0;
  padding: 25px;

  @media (max-width: $phone-max-width) {
    padding-right: 0;
  }

  &:before {
    content: '”';
    font-family: Georgia, serif;
    font-size: 3.875rem;
    position: absolute;
    left: -40px;
    top: -20px;
  }

  p:first-of-type {
    margin-top: 0;
  }

  p:last-of-type {
    margin-bottom: 0;
  }

  p {
    position: relative;
  }

  p:before {
    content: '>';
    display: block;
    position: absolute;
    left: -25px;
    color: var(--accent);
  }
}

table {
  table-layout: fixed;
  border-collapse: collapse;
  width: 100%;
  margin: 40px 0;
}

table, th, td {
  // EDITED so we don't always have borders
  // border: 1px solid var(--accent);
  padding: 10px;
}

th {
  color: var(--accent);
}

ul, ol {
  margin-left: 30px;
  padding: 0;

  li {
    position: relative;
  }

  @media (max-width: $phone-max-width) {
    margin-left: 20px;
  }
}

ul.fancy {
  // ADDED: transplanted from the post CSS, so
  // I don't need to be in a post class to get nice bullets
  list-style: none;
  li:before {
    content: '➔';
    position: absolute;
    left: -20px;
    color: var(--accent);
  }
}

ol ol {
  list-style-type: lower-alpha;
}

.container {
  display: flex;
  flex-direction: column;
  padding: 40px;
  max-width: 864px;
  min-height: 100vh;
  margin: 0 auto;

  @media (max-width: $phone-max-width) {
    padding: 20px;
  }
}

.content {
  display: flex;
}

hr {
  width: 100%;
  border: none;
  background: var(--border-color);
  height: 1px;
}

.hidden {
  display: none;
}
.profile {
  width: 100%;
  margin-right: 5rem;

  border-top: 1px solid rgba(255, 255, 255, .1);
  border-bottom: 1px solid rgba(255, 255, 255, .1);

  .address {
    margin-bottom: 5px;
    margin-top: 5px;
    font-family: monospace;
    p {
      display: inline-block;
      margin: 0;
    }
  }
}

.profile.float-right{
  margin-right: 5rem;
}

.profile.float-right img {
  display: block
}

.event {
  display: inline;
  height: 100%;
  vertical-align: middle;
}

// ADDED to make the image gallery wrap
.image-gallery {
  display: flex;
  flex-wrap: wrap;
  padding: 10px 10px;

  border-top: 1px solid rgba(255, 255, 255, .1);
  border-bottom: 1px solid rgba(255, 255, 255, .1);
}

.image-gallery a {
  flex: 0 0 calc(33% - 10px);
  margin: 5px;
}

// ADDED to make the image gallery wrap
.lecture-entry {
  flex-wrap: wrap;

  border-top: 1px solid rgba(255, 255, 255, .1);
  border-bottom: 1px solid rgba(255, 255, 255, .1);
}

.lecture-entry .image-column {
  display: inline-block;
  margin-right: 10px;
  /* for some reason aligning this to the top makes info-column go to the top too */
  vertical-align: top;
  width: 40%;
}

.lecture-entry .info-column {
  display: inline-block;
  width: calc(58%);
  height: 200px;
}

.lecture-entry .flexy-thing {
  width: auto;
  justify-content: space-between;
  flex-direction: column;
  display: flex;
  height: 100%;
}

.lecture-entry .lecture-entry-title {
  height: calc(40%);
  font-size: 19px;
  margin-top: 10px;
  margin-bottom: 3px;
}

.lecture-entry-title-span {
  border-bottom: 1px solid rgb(77, 77, 77);

  a {
    text-decoration: none;

  }
}

.lecture-entry .lecture-entry-description {
  color: #c3c3c3;
}

.lecture-entry .lecture-entry-quote {
  height: calc(30%);
  font-style: italic;
  font-size: 20px;
}

.lecture-entry .lecture-entry-link {
  height: calc(40%);
}