@import "variables";

:root {
  --accent: rgb(13, 158, 131);
  --accent-alpha-70: #{$default-accent-alpha-70};
  --accent-alpha-20: #{$default-accent-alpha-20};

  --background: #{$default-background};
  --color: #{$default-color};
  --border-color: #{$default-border-color};
}
