$default-accent: rgb(35,176,255);
$default-accent-alpha-70: rgba(35,176,255,.7);
$default-accent-alpha-20: rgba(35,176,255,.2);

$default-background: #1D212C;
$default-color: white;
$default-border-color: rgba(255, 255, 255, .1);