{% extends "index.html" %}

{%- block title -%}
{{ title_macros::title(page_title=page.title, main_title=config.title) }}
{%- endblock -%}

{% block content %}
    <div class="post">
        {{ post_macros::header(page=page) }}

        <div class="coolthing">
          <a href="/{{page.extra.name}}/lecture{{page.extra.number}}.png" target="_blank">
          <img src="/{{page.extra.name}}/lecture{{page.extra.number}}.png",
                style="
                  width: calc(100% - 20px);
                  margin-left: 20px;
                  margin-bottom: 10px;
                  margin-top: 10px;
                "/>
          </a>
          <center><a href="/{{ page.extra.name}}/lecture{{page.extra.number}}.pdf">
          <span style="color:rgb(255, 179, 48)">click here for lecture slides</span>

          </a></center>
          </div>

          <div class="post-content">
            {{ page.content | safe }}
          </div>

          <div class="responsive-iframe-container">
            <iframe src="{{ page.extra.url }}" frameborder="0" allowfullscreen></iframe>
          </div>

        {% if page.extra.exercises %}
        <link rel="stylesheet" href="/sml-exercises.css">
        <div class="sml-exercises">
          <h2>Try it yourself</h2>
          <p class="sml-exercises-blurb">These run entirely in your browser
          (Moscow ML on WebAssembly, via
          <a href="https://github.com/brandonspark/web-sml">web-sml</a>).
          For code questions, Ctrl+Enter runs the hidden tests.</p>
          <div class="sml-exercise-list"></div>
        </div>
        <script type="module">
          import { mountQuestion } from '/sml/examples/exercises/exercise.js';
          const ide = {
            monacoBase: '/sml-ide/monaco-vs',
            workerUrl: '/sml-ide/monaco-vs/assets/editor.worker-Be8ye1pW.js',
            milletUrl: '/sml-ide/millet/millet_wasm.js',
            fontFamily: 'Hack, DejaVu Sans Mono, Monaco, Consolas, Ubuntu Mono, monospace',
          };
          const list = document.querySelector('.sml-exercise-list');
          for (const q of {{ page.extra.exercises | json_encode() | safe }}) {
            const div = document.createElement('div');
            list.appendChild(div);
            mountQuestion(div, q, { ide });
          }
        </script>
        {% endif %}

        {{ post_macros::earlier_later(page=page) }}
    </div>
{% endblock content %}